# Скомпилированные исполнимые файлы
*.out
*.exe
*.o
*.obj
*.a
*.so
*.dylib
*.dll

*.vs
*.vscode
*.idea
*.xcuserstate
*.suo
*.user
*.userosscache
*.sln
*.xcodeproj

*.d
*.dSYM

*.log
*.trace
*.err
*.core

build/
bin/
obj/
out/

*.swp
*.bak
*.tmp
*.~*

